@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 990px) {
  body {
    overflow-x: hidden;
  }
}

.border-color {
  @apply border-[1px] border-solid border-[#88B1EF];
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hides scrollbar for IE & Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}
